   a{text-decoration:none;color:#e35321;}

@font-face{
           font-family:web;
           src:url('/font/web.otf') format("opentype");
          }

*{font-family:web;}

 body{background-color:#ededed;padding:0;margin:0;}


    #header{
            position:fixed;
            top:0;
            left:0;
            right:0;
            width:100%;
            
            padding:0;
            background-color:#373736;
            
            font-size:2em;
            z-index:1;
           
            }

    #title{
           float:left;
           margin:auto;
           width:88%;
           height:100%;
           color:rgba(255,255,255,1);
           -webkit-animation:tcolor 3s linear;
           
          }

    @-webkit-keyframes tcolor{
      
         0% {color:rgba(255,255,255,0);}
         100% {color:rgba(255,255,255,1);}
                            }


    #button{
           float:right;
           margin:auto;
           width:12%;
           
          
           border-radius:100%;
           color:#dd5729;
           -webkit-animation:brotate 3s linear infinite;
           
           }

  @-webkit-keyframes brotate{
         
         100% {-webkit-transform:rotate(720deg);}
         

                            }



    #text{
          font-size:em;
          width:83%;
          margin-left:auto;
          margin-right:auto;
          margin-bottom:10%;
          margin-top:10%;
          border-radius:8px;
          padding:3%;
          background-color:#ffffff;
          color:black;
         }

      .title{font-size:1.5em;}

     img{width:89%;
         margin-left:auto;
         margin-right:auto;
        }


   #none{display:none;}



     button{
          font-size:1.2em;
          border-width:0;
          border-radius:10px;
          padding:2% 6%;
          background-color:#31a0ff;
          color:#ededed;
          }

.left{margin:0 5% 0 0;
       
       -webkit-animation:bltranslate 1s ease-out;
      }

@-webkit-keyframes bltranslate{
      
         0% {-webkit-transform:translate(-600%,0);}
         96% {-webkit-transform:translate(5px,0);}
         100% {-webkit-transform:translate(0,0);}
                            }


.right{margin:0 0 0 5%;
         
       -webkit-animation:brtranslate 1.2s ease-out;
      }

@-webkit-keyframes brtranslate{
      
         0% {-webkit-transform:translate(600%,0);}
         16% {-webkit-transform:translate(600%,0);}
         88% {-webkit-transform:translate(-4px,0);}
         100% {-webkit-transform:translate(0,0);}
                            }


td img{margin:auto;}

td{color:#000000;
    font-size:1.2em;
    
    
    }

table{background-color:#ffffff;
      margin:0 0 1px 0;
      }

.cf{margin:16% 0 10% 0;}

#cp{
   color:#4c4a45;
   font-size:em;
   margin-left:auto;
   margin-right:auto;
   margin-bottom:10%;
   margin-top:10%;
   }
#SOHUCS{width:100%;z-index:0;}
